:root {
  --background:#222222;
  --text-color: rgb(255, 255, 255);
  --accent-color: rgb(247, 254, 167);
  --highlight-color: rgb(255, 189, 45);
  --left: 15px;
  /* --accent-hover: rgba(0, 225, 255, 0.5); */
}
* {
  font-family:'Arial Narrow', Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s linear;
}
body {
  background-color: var(--background);
}
header {
  display: flex;
  place-content: center;
  margin-top: 100px;
  min-height: 100vh;
}

header nav {
  position: relative;
}
header ul {
  list-style: none;
  display: flex;
  backdrop-filter: blur(16px) brightness(150%);
  border-radius: 16px;
  z-index: 10;
  position: relative;
  border: 3px solid var(--background);
}
header ul li {
  width: 96px;
  height: 96px;
  display: grid;
  place-content: center;
}
header ul li:hover {
  cursor: pointer;
}
header ul li span {
  font-size: 2rem;
  color: var(--text-color);
}
header ul li.active span {
  color: var( --highlight-color);
}
header nav .indicator {
  width: 60px;
  height: 110px;
  background-image: linear-gradient(to bottom, 
            var(--accent-color) 0%,
            var(--background) 20%,
            var(--background) 80%,
            var(--accent-color) 100%);
  position: absolute;
  border-radius: 16px;
  top: -4px;
  z-index: 1;
  left: calc(var(--left) + 16px);
}